div{
	
width:300px;
	background-color:aqua;
	margin: 0 auto;
}

#blueberry{
	width:75%;
	position: relative;
	left:70px;
	}
#brownie{
	width:75%;
	position: relative;
	left:70px;
	}
#coconut{
	width:75%;
	position: relative;
	left:70px;
	}
#mint{
	width:75%;
	position: relative;
	left:70px;
	}
#peanut{
	width:75%;
	position: relative;
	left:70px;
	}

.titles{
	color: yellow;
	font-family: Gotham, Sans-Serif;
	font-size: 2em;
}

strong em{
	color: mediumpurple
}

a em{
	color: yellow
}
